@import "variables.less";

.sb {
    position: fixed;
    left: 0;
    .fixed-top();
    overflow: hidden;
    background-color: @white;

    z-index: 1;
    visibility: visible;
    transform: translateX(0);
    transition: transform .25s cubic-bezier(0.4,0.0,0.2,1), visibility 0s linear 0s;

    &-ls {
        width: @sb-width;

        &-hd {
            color: @aside-hd;
            font-family: @aux-f-fam;
            font-size: @aside-hd-fs;
            letter-spacing: @l-space;
            text-transform: uppercase;
            padding: @2indent + 0.5 @aside-pdng @2indent;
        }

        &-it {
            padding: @indent 0;
            padding-left: @aside-pdng;
            transition: .25s ease;
            border-radius: 0 50px 50px 0;

            &:first-child {
                margin-top: @2indent;
            }

            &:last-child {
                margin-bottom: @2indent;
            }

            &:hover {
                .hover();
            }
        }

        &-ln {
            display: inline-flex;
            align-items: center;
            width: 100%;
            height: @hgt-indent;
            white-space: wrap;
        }

        &:not(:last-child) {
            border-bottom: @brd;
        }
    }

    &:hover {
        overflow-y: visible;
    }

    nav.sb-ls {
        .sb-ls-it:first-child {
            margin-top: 0;
        }
    }
}

/* .sb-ls-ln  span {
    padding: calc((@hgt-indent - @link-hgt) / 2) 0;
} */

.nav-ico {
    height: @link-hgt;
    /* padding: calc((@hgt-indent - @link-hgt) / 2) 0; */
    padding-right: @2indent;
}

.mn-ft {
    margin: 24px 15px 24px 24px;
}

.mn-ft-ln {
    display: inline-block;
    color: rgba(0,0,0,.54);
    padding: 2px 5px;
    white-space: nowrap;
}