@import "variables.less";

.sb {
    position: fixed;
    left: 0;
    .fixed-top();
    width: @sb-width;
    overflow: hidden;

    &-ls {
        &-hd {
            color: @aside-hd;
            font-family: @aux-f-fam;
            font-size: @aside-hd-fs;
            letter-spacing: @l-space;
            text-transform: uppercase;
            padding: @2indent + 0.5 @aside-pdng @2indent;
        }

        &-it {
            padding: @indent 0;
            padding-left: @aside-pdng;
        }

        &-ln {
            display: inline-flex;
            align-items: center;
            width: 100%;
            height: @hgt-indent;
            white-space: wrap;
        }

        &:not(:last-child) {
            border-bottom: @brd;
        }
    }

    &:hover {
        overflow-y: auto;
    }
}

/* .sb-ls-ln  span {
    padding: calc((@hgt-indent - @link-hgt) / 2) 0;
} */

.nav-ico {
    height: @link-hgt;
    /* padding: calc((@hgt-indent - @link-hgt) / 2) 0; */
    padding-right: @2indent;
}

.mn-ft {
    margin: 24px 15px 24px 24px;
}

.mn-ft-ln {
    display: inline-block;
    color: rgba(0,0,0,.54);
    padding: 2px 5px;
    white-space: nowrap;
}

@media only screen and (max-width : 768px)/*  and (max-width : 1024px) */ {
    .sb {
        display: none;
    }

    .container {
        margin: auto;
    }
}