@import 'variables.less';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: @html-fsize;
}

body {
    direction: ltr;
    font: @body-fsize @font-fam;
}

main {
    position: relative;
    .fixed-top();
    overflow: auto;
}

.container {
    display: flex;
    justify-content: center;
    margin-left: @sb-width;
}

a {
    display: block;
    color: @black;
    cursor: pointer;
}

button {
    cursor: pointer;
}