@import 'variables.less';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: @html-fsize;
}

body {
    direction: ltr;
    font: @body-fsize @font-fam;
}

main {
    position: relative;
    .fixed-top();
    padding-top: 0.1rem;
    overflow: auto;
}

.container {
    margin-left: @sb-width;
    transition: margin-left .25s cubic-bezier(0.4,0.0,0.2,1);
}

.mrg-auto {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    display: block;
    color: @black;
    cursor: pointer;
}

button {
    cursor: pointer;
}