@import "variables.less";

.mn-hd {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: @header-hgt;
    width: 100%;
    margin: @header-mrg 0;
    padding: 0 @header-pdng;
    letter-spacing: @l-space;

    & .other-ico:not(:last-child) {
        margin-right: @indent;
    }
}

.logo-ico {
    .ico-holder(@logo-hgt);
}

.other-ico {
    .ico-holder(@ico-hgt);
}

.logo-ico:hover, .other-ico:hover {
    .hover();
}

.mn-hd-sch {
    margin: 0 @2indent;
    padding: @ico-padding 0;
    max-width: @sch-form-wd;
}

.sch {
    display: flex;
    background-color: @white;
    border-radius: @unit;
    border: 1px solid @border-color;

    &-input {
        height: @logo-hgt;
        padding: @sch-pdng;
        width: @input-wd;
        font-size: @body-fsize;
        letter-spacing: @l-space;
        border: none;
        outline: none;

        &:focus {
            box-shadow: none;
        }
    }

    &-sbmt {
        .sch-button(url(../media/img/search-black.svg));
    }

    &-rst {
        .sch-button(url(../media/img/close.svg));
    }
}




@media only screen and (max-width : 515px)/*  and (max-width : 1024px) */ {
    .mn-hd-sch {
        max-width: @btn-wd;
        min-width: @btn-wd;

        .sch {
            border: none;

            & *:not(.sch-sbmt){
                display:none;
            }
        }
    }
}


@media only screen and (max-width : 568px)/*  and (max-width : 1024px) */ {
    .mn-hd {
        justify-content: space-between;
    }
}


@media only screen and (max-width : 640px)/*  and (max-width : 1024px) */ {

}

@media only screen and (max-width : 768px)/*  and (max-width : 1024px) */ {
}

@media only screen and (max-width : 905px)/*  and (max-width : 1024px) */ {
}

