/* HEADER */
/* ASIDE */
/* LOGFORM */
/* MIXIN */
.hide {
  display: none;
}
.active {
  background-color: rgba(156, 214, 158, 0.719);
}
.active a {
  font-weight: 500;
}
.container {
  width: 80%;
  margin: auto;
}
.file-wrap {
  display: flex;
  /* height: 120px; */
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 0.2rem;
  min-width: 250px;
}
.album-cover {
  width: 85px;
  height: 85px;
}
.cover {
  width: 100%;
  height: 85px;
  border-radius: 0.2rem;
}
.wrap {
  width: calc(100% - 85px);
}
.audio-wrap {
  display: flex;
  width: 100%;
  background-color: #f2f2f2;
}
.info-wrap {
  display: inline-block;
  width: 100%;
  padding: 5px 20px;
}
.info-wrap a {
  text-align: center;
}
.audio-play {
  width: 100%;
  background-color: #ffffff;
  background-color: transparent;
}
