/* HEADER */
/* ASIDE */
/* LOGFORM */
/* MIXIN */
.hide {
  display: none;
}
.active {
  background-color: rgba(156, 214, 158, 0.719);
}
.active a {
  font-weight: 500;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  direction: ltr;
  font: 1.6rem 'Segoe UI', Arial, sans-serif;
}
main {
  position: relative;
  top: 7.4rem;
  height: calc(100% - 7.4rem);
  overflow: auto;
}
.container {
  display: flex;
  justify-content: center;
  margin-left: 28rem;
}
a {
  display: block;
  color: #000000;
  cursor: pointer;
}
button {
  cursor: pointer;
}
