/* MEDIA QUERY */
/* HEADER */
/* ASIDE */
/* LOGFORM */
/* MIXIN */
.hide {
  display: none;
}
.show {
  display: flex;
}
.show-l {
  display: block;
}
.hide-aside {
  visibility: hidden;
  transform: translateX(-280px);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s linear 0.25s;
}
.centered {
  margin-left: 0;
  transition: margin-left 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.28);
}
.active {
  background-color: rgba(156, 214, 158, 0.719);
}
.active a {
  font-weight: 500;
}
@media only screen {
  /* iPad Pro, Tablets and Phone (portrait and landscape)----------- */
  /* Desktops and laptops, Landscape ----------- */
  /* @media only screen and (min-width: 1024px) and (orientation: landscape) {
        .mrg-auto {
            width: 80%;
            margin: auto;
        }
    } */
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1024px) {
  .sb {
    box-shadow: 2px 3px 7px -1px rgba(0, 0, 0, 0.45);
    border-top-right-radius: 25px;
  }
}
@media only screen and (max-width: 767px)  and (orientation: portrait) {
  .el-wrap {
    flex: 1 20rem;
    width: 20rem;
  }
  .info-wrap a {
    max-width: 75rem;
  }
  .au > a,
  .b > a,
  .thumb-wrap > a {
    height: auto;
  }
}
