/* HEADER */
/* ASIDE */
/* LOGFORM */
/* MIXIN */
.hide {
  display: none;
}
.active {
  background-color: rgba(156, 214, 158, 0.719);
}
.active a {
  font-weight: 500;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book-wrap {
  display: flex;
  flex-direction: column;
  height: 374px;
  width: 200px;
  margin: 0 1rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 0.2rem;
}
.img-wrap {
  height: 80%;
  text-align: center;
}
.img-wrap > a {
  height: 312px;
}
.info-wrap {
  display: flex;
  align-items: center;
  height: 20%;
  justify-content: center;
  padding: 10px 20px;
}
.info-wrap a {
  text-align: center;
}
.book-cover {
  height: 299.2px;
  width: 100%;
  border-radius: 0.2rem;
}
